In [2]:
import pandas as pd
import numpy as np

dates = pd.date_range('20180101', periods=6)
df = pd.DataFrame(np.arange(24).reshape(6,4), index=dates, columns=['A', 'B', 'C', 'D'])

df

             A   B   C   D
2018-01-01   0   1   2   3
2018-01-02   4   5   6   7
2018-01-03   8   9  10  11
2018-01-04  12  13  14  15
2018-01-05  16  17  18  19
2018-01-06  20  21  22  23

In [3]:
print(df['A'])

2018-01-01     0
2018-01-02     4
2018-01-03     8
2018-01-04    12
2018-01-05    16
2018-01-06    20
Freq: D, Name: A, dtype: int32

In [4]:
print(df.A)

2018-01-01     0
2018-01-02     4
2018-01-03     8
2018-01-04    12
2018-01-05    16
2018-01-06    20
Freq: D, Name: A, dtype: int32

In [5]:
print(df[0:3])    # slice dataframe

            A  B   C   D
2018-01-01  0  1   2   3
2018-01-02  4  5   6   7
2018-01-03  8  9  10  11

In [7]:
print(df['20180101':'20180103'])

            A  B   C   D
2018-01-01  0  1   2   3
2018-01-02  4  5   6   7
2018-01-03  8  9  10  11

In [11]:
# select by label: loc
print(df.loc['20180101'])

A    0
B    1
C    2
D    3
Name: 2018-01-01 00:00:00, dtype: int32

In [9]:
print(df.loc[:,['A', 'B']])

             A   B
2018-01-01   0   1
2018-01-02   4   5
2018-01-03   8   9
2018-01-04  12  13
2018-01-05  16  17
2018-01-06  20  21

In [10]:
print(df.loc['20180103':,['A', 'B']])

             A   B
2018-01-03   8   9
2018-01-04  12  13
2018-01-05  16  17
2018-01-06  20  21

In [12]:
# select by position: iloc
print(df.iloc[3, 1])

13

In [15]:
print(df.iloc[3:5, 1:3])

             B   C
2018-01-04  13  14
2018-01-05  17  18

In [16]:
print(df.iloc[[1, 3, 5], 1:3])

             B   C
2018-01-02   5   6
2018-01-04  13  14
2018-01-06  21  22

In [17]:
# mixed selection: ix 
print(df.ix[:3, ['A', 'C']])

            A   C
2018-01-01  0   2
2018-01-02  4   6
2018-01-03  8  10

c:\users\cpeb\desktop\myenv\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [19]:
# Boolean indexing
print(df)
print(df[df.A > 8])

             A   B   C   D
2018-01-01   0   1   2   3
2018-01-02   4   5   6   7
2018-01-03   8   9  10  11
2018-01-04  12  13  14  15
2018-01-05  16  17  18  19
2018-01-06  20  21  22  23
             A   B   C   D
2018-01-04  12  13  14  15
2018-01-05  16  17  18  19
2018-01-06  20  21  22  23